@charset "UTF-8";

@media screen and (min-width: 100px) and (max-width:668px) { 

    .logo-apg {
        width: 240%;
        display: flex;
        justify-content: center;
        margin: 0px 0px 8px -100%;
    }

    h1, h2 {
        text-align: center;
        margin: 70px 0px 50px -10px;
        font-size: 1.6em;
    }

    main {
        width: 70vw;
    }

    header {
        height: 70px;
    }

    header > nav {
        background-color: #958a6b;
    }
}