@charset "UTF-8";

:root {
  --HEADER: #958a6b;
  --CAIXAS: #b5a67c;
  --BODY: #e5e8e0;
  --NAV: #958a6b;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--BODY);
}

/* HEADER */

header {
  background-color: #958969;
  height: 80px;
}

.link-sepromi {
  width: 20px;
}

.logo-apg {
  padding: 10px 0px 0px 600px;
  width: 90%;
  display: flex;
  justify-content: center;
}

nav > ul > li > a > img {
  background-color: #756a4e;
  margin: 0px 0px 0px 0px;
  padding: 5px 55px;
  height: 20px;
}

nav > ul > li > a > img:hover {
  background-color: #786f55;

}

.link-utilitarios {
  text-decoration: none;
  color: white;
  display: block;
  padding: 0px 20px;
}

.link-utilitarios:hover {
  background-color: #82775e92;
}

nav {
  background-color: var(--NAV);
  height: 30px;
  width: 100vw;
  
}

ul {
  list-style: none;
}

#ul-principal {
  width: 95%;
  margin: auto;
}

.li-p {
  line-height: 35px;
  float: right;
}

.ul-sub {
  width: auto;
  margin: -14px;

  display: none;
}

ul > li > ul > li {
  background-color: #8b7f60;
}

/* HEADER */

h1 {
  text-align: center;
  margin: 50px;
}

hr {
  width: 70vw;
}

#linha {
  margin: 10px 0px 10px 0px;
  display: flex;
  justify-content: center;
}

h2 {
  margin: 50px 0px 0px 0px;
  font-size: 1.7em;
}

main {
  height: auto;
  width: 57vw;
  margin: auto;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 40px 0px 70px 0px;
}

.caixas {
  width: 250px;
  height: 170px;
  margin: 10px 10px 10px 10px;

  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.438);

  background-color: var(--CAIXAS);
  background-repeat: no-repeat;
  background-position: 50% 70%;
}

.shadow:hover {
  transition: transform 0.5s;
  transform: translate(-4px, -4px);
}

.legenda {
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 1.4em;

  padding: 10px 0px 0px 0px;
}

.legenda-2 {
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 1.4em;

  padding: 10px 0px 0px 0px;
}

a {
  text-decoration: none;
}

#caixa-1 {
  background-image: url(../img/fechadura.png);
  background-size: 100px;
}

#caixa-2 {
  background-image: url(../img/email.png);
  background-size: 100px;
}

#caixa-3 {
  background-image: url(../img/ramal.png);
  background-size: 120px;
}

#caixa-4 {
  background-image: url(../img/SEI.png);
  background-size: 85px;
  background-position: 50% 78%;
}

#caixa-5 {
  background-image: url(../img/tarefa.png);
  background-size: 95px;
  background-position: 55% 70%;
}

#caixa-6 {
  background-image: url(../img/central-de-atendimento.png);
  background-size: 88px;
  background-position: 50% 80%;
}

footer {
  background-color: var(--HEADER);
  width: 100vw;
  height: 20px;

  position: fixed;
  bottom: 0%;
  padding: 5px 0px 5px 0px;
}

footer > p {
  color: #1d1403e5;
  font-size: 1em;
  text-align: center;
}

footer > p > a {
  color: #2e2005e5;
  font-weight: bold;
  text-decoration: none;
}

footer > p > a:hover {
  color: black;
  text-decoration: underline;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
